@(supportedFormats: Map[String, String])

@main(title = "Color your code / markdown") {

    <h1>Download a highlighted version of you code</h1>
    <p>You can just use this feature in slides or anywhere you need to be sure that the rendering has to be perfect. The code highlighting is provided by <a href="#">Pygments</a>.<p>
    @helper.form(action = pygala.controllers.routes.Parsing.highlight(false)) {
        <div>
            <label for="lang" style="display:block">Choose the language</label>
            <select id="lang" name="lang">
                <option value="auto">Auto detect</option>
            @for(f <- supportedFormats.keys.toList.sortWith((s, t) => s.toLowerCase < t.toLowerCase)) {
                <option value="@f">@f => @supportedFormats.get(f)</option>
            }
            </select>
        </div>
        <div>
            <label for="code" style="display:block">Code</label>
            <textarea name="code" id="code" style="width:700px; height: 400px;"></textarea>
        </div>
        <input type="submit" value="Highlight my code"/>
    }
    <!--
    <h1>Highlight markdown</h1>

    <p>The markdown processing is provided by the <a href="#">Python-Markdown</a> library. The code highlighting inside code blocks is provided by <a href="#">Pygments</a>. You can start your code block (text indented with 4 spaces) by an identifier to ease language detection. This identifier can be #!java if you want line numbering or :::java if you don't.<p>
    <p>Here is an <a href="https://github.com/vjousse/play2-blog-jousse/blob/master/posts/2012-05-24-trust-the-htype.md">example of markdown</a> that you can use to test.</p>
    @helper.form(action = pygala.controllers.routes.Parsing.highlight(false)) {
        <div>
        <div>
            <label for="markdown" style="display:block">Markdown</label>
            <textarea name="code" id="code" style="width:700px; height: 400px;"></textarea>
        </div>
        <input type="submit" value="Parse and highlight my markdown"/>
    }
    -->

    <h2>Try me</h2>

    <p>You may be able to just POST content to the http://pygala.jousse.org/mardown url. The content has to be a markdown text (don't encode it to be compliant with form-urlencoded header, I treat it as raw text). Here is an <a href="https://github.com/vjousse/play2-blog-jousse/blob/master/posts/2012-05-24-trust-the-htype.md">example of markdown</a> that you can pass. The result is visible <a href="http://vincent.jousse.org/blog/2012-05-24-trust-the-htype">on my blog</a>.<p>
    <p>You may want to use <a href="http://vincent.jousse.org/static/stylesheets/solarized.css">my solarized css</a>. I use pygment under the hood, so any stylesheet compatible with it should work.<p>

    <h2>Fork me</h2>

    <a href="https://github.com/vjousse/pygala">https://github.com/vjousse/pygala</a>

}
