@(supportedFormats: Map[String, String])

@main(title = "Color your code / markdown") {

    <h1>Highlight code</h1>
    @helper.form(action = pygala.controllers.routes.Parsing.highlight(false)) {
        <div>
            <label for="lang" style="display:block">Choose the language</label>
            <select id="lang" name="lang">
            @for(f <- supportedFormats.keys.toList.sortWith((s, t) => s.toLowerCase < t.toLowerCase)) {
                <option value="@f">@f => @supportedFormats.get(f)</option>
            }
            </select>
        </div>
        <div>
            <label for="code" style="display:block">Code</label>
            <textarea name="code" id="code" style="width:700px; height: 400px;"></textarea>
        </div>
        <input type="submit"/>
    }

}
